@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these to your existing styles */
.notification-enter {
  opacity: 0;
  transform: translateX(100%);
}

.notification-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.notification-exit {
  opacity: 1;
}

.notification-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-320px * 5));
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 30s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-ticker {
  display: inline-flex;
  animation: ticker 40s linear infinite;
  min-width: 100%;
}

.animate-ticker:hover {
  animation-play-state: paused;
}
